/*ceci est le commentaire de mon css*/

@font-face { /* Définition d'une nouvelle police nommée LearningCurveProRegular */
    font-family: 'LearningCurveProRegular';
    src: url('LearningCurve_OT-webfont.eot');
    src: url('LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('LearningCurve_OT-webfont.woff') format('woff'),
         url('LearningCurve_OT-webfont.ttf') format('truetype'),
         url('LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');
}

* /* Utilisation de la police qu'on vient de définir sur les titres */
{
    font-family: 'LearningCurveProRegular', Arial, serif;
	font-size : 30px;
}

aside p
{
	background-color:gray;
	width:50%;
	height:120px;
	min-width:300px;
	max-width:500px;
}

p
{
	border:1px solid black;
	width:350 px;
	text-align: justify;
	margin:auto;
	margin-bottom:30px;
	overflow:auto;
	word-wrap: break-word;
}

nav
{
	width:150px;
	/* border:1px solid black; */
	display:inline-block;
	vertical-align:top;
}

section
{
	/* border:1px solid blue; */
	/* margin-left:170px; */
	display:inline-block;
	vertical-align:top;
}

/* h1, p
{
	display:inline;
} */