/*ceci est le commentaire de mon css*/

@font-face { /* Définition d'une nouvelle police nommée LearningCurveProRegular */
    font-family: 'LearningCurveProRegular';
    src: url('polices/LearningCurve_OT-webfont.eot');
    src: url('polices/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/LearningCurve_OT-webfont.woff') format('woff'),
         url('polices/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('polices/LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');
}

@font-face { /* Définition d'une nouvelle police nommée LearningCurveProRegular */
    font-family: 'LearningCurveProRegularDashed';
    src: url('polices/LearningCurveDashed_OT-webfont.eot');
    src: url('polices/LearningCurveDashed_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/LearningCurveDashed_OT-webfont.woff') format('woff'),
         url('polices/LearningCurveDashed_OT-webfont.ttf') format('truetype'),
         url('polices/LearningCurveDashed_OT-webfont.svg#LearningCurveProRegularDashed') format('svg');
}

h1, h2 /* Utilisation de la police qu'on vient de définir sur les titres */
{
    font-family: 'LearningCurveProRegular', Arial, serif;
	font-size : 40px;
	}

p,li /* Utilisation de la police qu'on vient de définir sur les titres */
{
    font-family: 'LearningCurveProRegular', Arial, serif;
	font-size : 30px;
		}

body
{
 	background: url("photos/fond.jpg") no-repeat fixed ;
}

.titre , .poste
{
    color: gray;
	font-size: 4em;
	text-align: center;
}

.photo
{
	float:right;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

em
{
	text-shadow : 5px 5px 20px white;
	font-size: 40px;
}

.enphase
{
	color: red;
	font-style:oblique;
}

a:hover
{
	color:green;
	text-decoration:underline;
}

a:visited
{
	color:grey;
}

